* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --gradient-container: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --circle-gradient: linear-gradient(to bottom,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

/* ======== main container position ======== */
body {
    font-family: "Google sans", sans-serif;
    background-color: hsl(221, 100%, 96%);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======== containers inner content position ======== */
.Big-container {
    background-color: var(--White);
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 620px;
    max-width: 90%;
    gap: 30px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

/* ======== left-ourple-container + inner circle ======== */
.purple-container-parent {
    display: flex;
    justify-content: justify;
    align-items: center;
}

.purple-container-styling {
    background: var(--gradient-container);
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    width: 300px;
}

.circle {
    border-radius: 50%;
    background: var(--circle-gradient);
    width: fit-content;
    height: 160px;
    width: 160px;
    padding: 40px;
    font-size: 0.9rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

h1 {
    color: var(--Light-lavender);
    font-size: 1rem;
    font-weight:600;
    margin-bottom: 30px;
}

h2 {
    font-size: 3.8rem;
    font-weight: 600;
}

h3 {
    font-weight:600;
    font-size: 1.5rem;
}
p {
    color: var(--Light-lavender);
    font-weight: 500;
}

p.result-description {
    color: var(--Light-lavender);
    padding: 10px;
    display: flex;
    justify-content: justify;
    font-size: 0.9rem;
    font-weight: 500;
}

/* ======== parameters-container ======== */
.grow {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.summary-container {
    padding-right: 30px;
}

/* ======== right panel ========*/
h4 {
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--Dark-gray-blue);
    font-size: 1.2rem;
}

/*======== li.parameters + reaction =======*/
ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 0.9rem;
}

li {
    margin-bottom: 20px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ======== svg icons ======== */
img.icon {
    width: 20px;
}

span.reaction {
    display: flex;
    vertical-align: baseline;
    gap: 8px;
    color: var(--Light-red);
}

span.memory {
    display: flex;
    vertical-align: baseline;
    gap: 8px;
    color: var(--Orangey-yellow);
}

span.verbal {
    display: flex;
    vertical-align: baseline;
    gap: 8px;
    color: var(--Green-teal);
}

span.visual {
    display: flex;
    vertical-align: baseline;
    gap: 8px;
    color: var(--Cobalt-blue);
}

/* ======== pannels for parameters ======== */
.mini-pannels {
    border-radius: 10px;
    padding: 10px;
}

.bk-reaction {
    background-color: rgb(255, 235, 235);
}

.bk-memory {
    background-color: rgb(255, 250, 233);
}
.bk-verbal {
    background-color: rgb(233, 255, 250);
}
.bk-visual {
    background-color: rgb(241, 239, 255);
}

span.current {
    color: var(--Dark-gray-blue);
}

span.max {
    color: rgb(104, 104, 104);
}

/* ======== continue button ========*/
.continue-button {
    background-color: var(--Dark-gray-blue);
    color: white;
    padding: 15px;
    border-radius: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
}

.continue-button:hover {
    background-color: var(--Cobalt-blue);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
}

.continue-button:active {
    background-color: var(--Dark-gray-blue);
}

/* ======== License + link styling ======== */
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}